// http://codepen.io/katydecorah/full/uIEFy

$shadow: $foreground;

#loader {
  color: white;
  text-align: center;
  margin: 0 auto;
}


#logo_animation {
  position: relative;
  width: 82px;
  height: 82px;
  margin: 0 auto;
}

#loader-message {
  padding-top: 40px;
  max-width: 220px;
  margin: 0 auto;
  height: 90px;
  color: white;
  text-align: center;
}

#logo_frame {
  width: 82px;
  height: 82px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

#logo_block1 {
  opacity: 0;
  width: 82px;
  height: 82px;
  position: absolute;
  left: 50%;
  margin-left: -41px;
  top: 0;
  z-index: 1;
}

#logo_block2 {
  opacity: 0;
  width: 82px;
  height: 82px;
  position: absolute;
  left: 50%;
  margin-left: -41px;
  top: 0;
  z-index: 2;
}

#logo_block3 {
  opacity: 0;
  width: 82px;
  height: 82px;
  position: absolute;
  left: 50%;
  margin-left: -41px;
  top: 0;
  z-index: 3;
}

#logo_block4 {
  opacity: 0;
  width: 82px;
  height: 82px;
  position: absolute;
  left: 50%;
  margin-left: -41px;
  top: 0;
  z-index: 5;
}

#logo_block5 {
  opacity: 0;
  width: 82px;
  height: 82px;
  position: absolute;
  left: 50%;
  margin-left: -41px;
  top: 0;
  z-index: 6;
}
